.loading-spinner{
  background-color: #1111111f;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
z-index: 9999;
  display: grid;
  place-items: center;
}



.loading-message{
  text-align: center;
  align-self: start;
}
